In [1]:
a = 10
print (a, type(a))

10 <class 'int'>

In [2]:
a = 10.2 
print ((a, type(a)))

(10.2, <class 'float'>)

In [3]:
a = 'Hello'
print ((a, type(a)))

('Hello', <class 'str'>)

In [4]:
a = True
print ((a, type(a)))

(True, <class 'bool'>)

In [5]:
a = None
print ((a, type(a)))

(None, <class 'NoneType'>)

In [6]:
a = [1,2,3]
print ((a, type(a)))

([1, 2, 3], <class 'list'>)

In [7]:
a = (1,2,2,2,3)
print ((a, type(a)))

((1, 2, 2, 2, 3), <class 'tuple'>)

In [8]:
a = {1,2,3}
print ((a, type(a)))

({1, 2, 3}, <class 'set'>)

In [9]:
a = {'a':1, 'b':2}
print ((a, type(a)))

({'a': 1, 'b': 2}, <class 'dict'>)

In [10]:
a = 5
b = 10
print(a,b,a+b, sep = ',')

5,10,15

In [11]:
a = 5
b = 10
c=a+b
print(a, end = '%')
print(b)
print(c)

5%10
15

In [12]:
print = 676767
del print
print (a)

5

In [13]:
name = 'Shubhra'
age = 20
city = 'Lucknow'
print (f'My name is {name}, I am {age} years old, I live in {city}')

My name is Shubhra, I am 20 years old, I live in Lucknow

In [14]:
x = 10
y = 3
z = x/y
print(f'{x}/{y} = {z:.2f}')

10/3 = 3.33

In [15]:
print(x,'/',y,'=', round(z,2))

10 / 3 = 3.33

In [16]:
print(f'{name:10}{age}')

Shubhra   20

In [17]:
n1 = 'Sita'
n2 = 'Rita'
n3 = 'Gita'
a1, a2, a3 = 22, 21, 20
print(f'{n1:50} {a1}')
print(f'{n2:50} {a2}')
print(f'{n3:50} {a3}')

Sita                                               22
Rita                                               21
Gita                                               20

In [18]:
#swap 2 nos without using 3rd variable
x = int(input('Enter 1st number'))
y = int(input('Enter 2nd number'))

x = x+y
y = x-y
x = x-y
print(x,y)

In [ ]:
#swap 2 nos using 3rd variable

x = int(input('Enter 1st number'))
y = int(input('Enter 2nd number'))

temp = x
x = y
y = temp

print(x,y)

3 2