syntax

for temp in iterable:
statement 1
...
statement n

In [ ]:
range(10)

In [4]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [7]:
for i in range (5, 100, 10):
    print(i, end=' ')

5 15 25 35 45 55 65 75 85 95

In [6]:
for i in range(10, 0, -1):
    print(i, end=' ')

10 9 8 7 6 5 4 3 2 1

In [7]:
#traversal of list (each data is fetched and displayed)
data = [12,13,14,15,16,17,18,19]
for item in data:
    print(item, end=' ')

12 13 14 15 16 17 18 19

In [8]:
#break and continue
prices = [112,43,None,65,56,None,87,76,None,74,67]
for pr in prices:
    if pr is None:
        continue
    print(pr)

112
43
65
56
87
76
74
67

In [10]:
prices = [112,43,None,65,56,None,87,76,None,74,67]
for pr in prices:
    if pr is not None:
        print(pr)

112
43
65
56
87
76
74
67

In [11]:
for item in prices:
    if item is None:
        break
    print(item)
print('the end')

112
43
the end

In [13]:
for i in range(1,6):
    print(i)
    for j in range(1,4):
        print(i*j, end = ' ')
    print() #to change line automatically

1
1 2 3
2
2 4 6
3
3 6 9
4
4 8 12
5
5 10 15

1. enumerate
2. zip
3. for - else

In [1]:
names = ['Radha', 'Rohan', 'Madhu', 'Rajesh']
for name in enumerate(names):
    print(name)

(0, 'Radha')
(1, 'Rohan')
(2, 'Madhu')
(3, 'Rajesh')

In [2]:
#example of enumerate function
for idx, name in enumerate(names):
    print(idx, name)

0 Radha
1 Rohan
2 Madhu
3 Rajesh

In [3]:
x = [1,3,4,2,5,4,3,2,5,6,7,3,5,3,3,4,5]
for i, v in enumerate(x):
    
    if i == 10:
        break
    print(v)

1
3
4
2
5
4
3
2
5
6

In [4]:
#example for zip
x = [1,2,3,4]
y = [7,8,3,2]
z = [2,3,6,6]
for i in zip(x,y,z):
    print(i)

(1, 7, 2)
(2, 8, 3)
(3, 3, 6)
(4, 2, 6)

In [6]:
for i,j,k in zip(x,y,z):
    print(i+j+k)

10
13
12
12

In [7]:
x = [1,2,3,4,3,5]
y = [7,8,3,2,2]
z = [2,3,6,6] #in case of uneven variables the op will be in accordance with the smallest list
for i in zip(x,y,z):
    print(i)

(1, 7, 2)
(2, 8, 3)
(3, 3, 6)
(4, 2, 6)

for-else....
for all the iterations of the loop are completed without any break statement, then the else part is executed else part is not executed if the loop is terminated by a break statement

In [8]:
#example of for-else
for i in x:
    if i == 13:
        break
    print(i)
else:
    print("completed without break")

1
2
3
4
3
5
completed without break

In [14]:
#for prime number
num  = 87
for i in range(2, num):
    print(f'{num} % {i} = {num%i}')
    if num%i == 0:
        print("Not prime")
        break
else:
    print("Prime")

87 % 2 = 1
87 % 3 = 0
Not prime