In [1]:
x = (12,34,22) #tuple creation
print(x)
print(type(x))

(12, 34, 22)
<class 'tuple'>

In [2]:
a = 1, 2, 3, 4 #tuple packing
print(a)

(1, 2, 3, 4)

In [4]:
w, x, y, z = a #tuple unpacking
print(w, x, y, z)

1 2 3 4

In [6]:
w, x, y, z = a
print(w, x, y, z)
first, *rest = a #first value will be stored in first variable
#rest will be stored in rest variable as a list
print(first, rest)

1 2 3 4
1 [2, 3, 4]

In [7]:
fname, mname, lname = "Lia Singh Kapoor".split()
print(fname, mname, lname, sep='\n')

Lia
Singh
Kapoor

In [8]:
fname, *lname = "Lia Singh Kapoor".split()
print(fname, lname, sep='\n')

Lia
['Singh', 'Kapoor']

In [9]:
#tuple, set and list are interchangable
x = [1,2,3,4]
xt = tuple(x)
print(x, xt)
xl = list(xt)
xs = set(x)
xts = set(xt)
print(xl, xs, xts)

[1, 2, 3, 4] (1, 2, 3, 4)
[1, 2, 3, 4] {1, 2, 3, 4} {1, 2, 3, 4}

In [10]:
print(xt[-1])
print(xt[0])

4
1

SET

In [11]:
a = {3,4,3,4,5,7,5,4,3,6,7,8,5,4,4,3}
print(a)

{3, 4, 5, 6, 7, 8}

In [14]:
b = set() #empty set
b.add('hello')
b.add('fellow')
b.add('jello')
b.add('mellow')
b.update({'yellow', 'cello'}) #add a iterable to a set
print(b)

{'yellow', 'cello', 'fellow', 'jello', 'mellow', 'hello'}

In [13]:
b.discard('jello')
b.discard('hello')
print(b)

{'yellow', 'cello', 'fello', 'mellow'}

--Set Operations

In [15]:
a = {1,2,3,4}
b = {3,4,5,6}
c = {1,2,3,4,5,6,7,8,9,10}
d = {6,7,8,9,10}

In [16]:
a.union(b) #or a/b

{1, 2, 3, 4, 5, 6}

In [17]:
a.intersection(b) #a & b

{3, 4}

In [18]:
print(a.difference(b)) #a - b
print(b.difference(a)) #b - a

{1, 2}
{5, 6}

In [19]:
a.symmetric_difference(b) # a^b

{1, 2, 5, 6}

In [20]:
c.issuperset(a)

True

In [21]:
a.issubset(d)

False

In [22]:
b.isdisjoint(a)

False