In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#testing the water
pd.read_excel('Canada.xlsx', sheet_name =1, skiprows= 20, skipfooter= 2)

In [ ]:
df = pd.read_excel('Canada.xlsx', sheet_name =1, skiprows= 20, skipfooter= 2)

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.precision', 2)

In [ ]:
df

what to learn
- slection of data
 -- row selection
    - head
    - tail
    - slicing
    - iloc
    -loc
-- column selection
    - object style
    - dictionary style

In [ ]:
df.head() #top 5 rows

In [ ]:
df.tail() #botton 5 rows

In [ ]:
df.tail(3) #bottom 3 rows

In [ ]:
df[:10] # same as head[10]

In [ ]:
df[50:100] #rows 50 to 100

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[-1]

In [ ]:
df.iloc[[0,5,10,15]]

In [ ]:
df.iloc[30, :5]

In [ ]:
df.iloc[:, :5]

In [ ]:
df.iloc[:, [0,2,5,7,10]]

In [ ]:
df.iloc[[3,4,5,6],[7,8,9,10]]

In [ ]:
# list all columns name
print(df.columns.tolist())

In [ ]:
df['OdName'] #column as a series

In [ ]:
df[1980]

In [ ]:
#multiple columns
col_list = ['OdName',1980,1981,1982,1983,1984,1985]
df[col_list]

In [ ]:
df[['OdName','AreaName',1980,1990,2000,2010]][5:50] #selected columns and selected rows

maths and stats

In [ ]:
df.info()

In [ ]:
df.describe() #numerical coumns summary

In [ ]:
df.describe(exclude=np.number) #non numerical columns summary

In [ ]:
df[2010].sum()

In [ ]:
df[[1980,1981,1982,1983]].sum()

In [ ]:
df[[1980,1981,1982,1983]].sum(axis=1) #by default vertical sum is performed by writing axis=1, sum is taken horizontally

In [ ]:
years = list(range(1980,2014))
print(years)

In [ ]:
df[years].sum(axis=1)

In [ ]:
df['Total'] = df[years].sum(axis=1)
df.head(5)

In [ ]:
plt.figure(figsize=(30,3), dpi = 300)
plt.bar('OdName','Total',data= df)
plt.xticks(rotation=90)
plt.show()

In [ ]:
df

In [ ]:
df['Faltu'] = 10 #add a new value with a constant value
df

In [ ]:
len([1,2,3,4,5]*39)

In [ ]:
df['kuch bhi'] = [1,2,3,4,5]*39 #this is just an example, dont use this
df

In [ ]:
df[2013] - df[1980]

In [ ]:
df['another column'] = df[2013] - df[1980] #expression on columns

add two panda dataframe row wise

In [ ]:
small_df1 = df[:10]
small_df2 = df[185:]

In [ ]:
pd.concat([small_df1, small_df2])

remove columns

In [ ]:
df

- to drop columns
  - df.drop() -> removes columns
- to drop rows
  - df.drop() -> removes rows
  - df.dropna() -> removes rows and NaN
  - df.drop_duplicates() -> removes rows with duplicate values

In [ ]:
cols_to_drop = [
    'AREA', 'REG', 'DEV', 'Type', 'Coverage',
    'Faltu', 'kuch bhi', 'another column'
]
df.drop(columns=cols_to_drop, inplace=True) #apply

In [ ]:
df

In [ ]:
df.drop_duplicates(subset=['AreaName']) #just an example

ordering columns

In [ ]:
df.columns

In [ ]:
#arrange columns in a list in the order you want
reordered_cols = [
     'AreaName','OdName',   'RegName',  'DevName', 'Total',       1980,       1981,
             1982,       1983,       1984,       1985,       1986,       1987,
             1988,       1989,       1990,       1991,       1992,       1993,
             1994,       1995,       1996,       1997,       1998,       1999,
             2000,       2001,       2002,       2003,       2004,       2005,
             2006,       2007,       2008,       2009,       2010,       2011,
             2012,       2013,    
]
reordered_cols

In [ ]:
df = df[reordered_cols]
df

rename columns

In [ ]:
df.rename(columns={
    'OdName': 'Country',
    'AreaName': 'Continent',
    'RegName': 'Region',
    'DevName': 'Status'
}, inplace= True)

In [ ]:
df.head()

-sorting

In [ ]:
df.sort_values(by='Total',inplace = True)
df

In [ ]:
df.sort_values(by='Total',inplace = True, ascending = False) #descending order
df

visualize issue

In [ ]:
plt.bar('Country', 'Total', data=df.head(10))
plt.xticks(rotation=90)
plt.show()

In [ ]:
import seaborn as sns

In [ ]:
sns.barplot(x='Country', y='Total', hue='Status', data=df.head(10))
plt.xticks(rotation=90)
plt.show()

In [ ]:
df.head()

In [ ]:
df.loc[79,years].plot(kind='area', figsize=(20,4))

In [ ]:
df.loc[[79,36], years].T.plot(kind='area', figsize=(20,4), stacked=False, alpha=1.0)

In [ ]:
df

changing the index to another column

In [ ]:
df.index

In [ ]:
df.set_index('Country', inplace=True)

In [ ]:
df.shape

In [ ]:
df.head(2)

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df.set_index('Country', inplace=True)

In [ ]:
df.loc['Japan', years].plot(kind='bar')

In [ ]:
countries = ['Japan', 'China', 'India', 'Pakistan', 'Bangladesh']
df.loc[countries, years].T.plot(kind='area', alpha=.5)

group by

In [ ]:
df.groupby('Continent')

In [ ]:
df.groupby('Continent').get_group('Asia')

In [ ]:
df.groupby('Continent')[[1980,1981,1982,1983,1984,1985]].sum()

In [ ]:
df.groupby('Continent')[years].sum().T.plot(figsize=(15,4))

In [ ]:
df.groupby('Continent')[years].agg(['min', 'max'])

In [ ]:
continent_df = df.groupby('Continent')[years].sum()

In [ ]:
continent_df

In [ ]:
df.groupby(['Continent', 'Status'])[years].mean().reset_index()

In [ ]:
total_df = df.groupby(['Continent'])['Total'].sum().reset_index()
total_df

In [ ]:
plt.pie('Total', labels='Continent', data=total_df, autopct='%1.1f%%', shadow=True)
plt.show()

In [ ]:
df.pivot_table(index='Continent', columns='Status', values=years)